<a href="<%- url_for(post.path) %>" class="<%= class_name %>">
  <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= full_date(post.date,  'dddd, DD\/MM\/YYYY, HH:mm:ss') %>
  </time>
</a>
